In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
#read the combined data
cmb_data = pd.read_csv(r'C:\Users\Sithalrao\Downloads\combined_data_11.csv')

In [3]:
#Extract review overall and reveiw text
cmb_data=cmb_data[['reviewText']]
cmb_data.count()

reviewText    882402
dtype: int64

In [4]:
#first and last 10000 review texts from amazon food 
first_10K=cmb_data.head(10000)
first_10K

                                             reviewText
0                                Exactly what I needed.
1     I agree with the other review, the opening is ...
2     Love these... I am going to order another pack...
3                                   too tiny an opening
4                                                  Okay
...                                                 ...
9995  these are no immatation, they are the real dea...
9996  Great pair of shoes. This is my third pair of ...
9997  I typically wear a size 8-9 (W) depending on t...
9998  My husband has always loved deck shoes but lat...
9999  i had this shoes but in different color, since...

[10000 rows x 1 columns]

In [5]:
#last 10000 review texts from electronics
tail_10K=cmb_data.tail(10000)
tail_10K

                                               reviewText
873636                       Perfect loose-fitting shirt.
873637  Love the shirt but I need a smaller size.  How...
873638  The fit was okay, but the neck/collar/shoulder...
873639                        love  them! would buy again
873640                                               Nice
...                                                   ...
883631  I absolutely love this dress!!  It's sexy and ...
883632  I'm 5'6 175lbs. I'm on the tall side. I wear a...
883633                         Too big in the chest area!
883634                Too clear in the back, needs lining
883635  Ordered and was slightly small. Worked with th...

[10000 rows x 1 columns]

In [6]:
total_10K=pd.concat([first_10K,tail_10K], ignore_index=True)
total_10K

                                              reviewText
0                                 Exactly what I needed.
1      I agree with the other review, the opening is ...
2      Love these... I am going to order another pack...
3                                    too tiny an opening
4                                                   Okay
...                                                  ...
19995  I absolutely love this dress!!  It's sexy and ...
19996  I'm 5'6 175lbs. I'm on the tall side. I wear a...
19997                         Too big in the chest area!
19998                Too clear in the back, needs lining
19999  Ordered and was slightly small. Worked with th...

[20000 rows x 1 columns]

In [7]:
#Q1 lowercasing and removing punctuation

total_10K['reviewText_processed']=total_10K['reviewText'].str.lower()
total_10K

,reviewText,reviewText_processed
0,Exactly what I needed.,exactly what i needed.
1,"I agree with the other review, the opening is ...","i agree with the other review, the opening is ..."
2,Love these... I am going to order another pack...,love these... i am going to order another pack...
3,too tiny an opening,too tiny an opening
4,Okay,okay
...,...,...
19995,I absolutely love this dress!! It's sexy and ...,i absolutely love this dress!! it's sexy and ...
19996,I'm 5'6 175lbs. I'm on the tall side. I wear a...,i'm 5'6 175lbs. i'm on the tall side. i wear a...
19997,Too big in the chest area!,too big in the chest area!
19998,"Too clear in the back, needs lining","too clear in the back, needs lining"
19999,Ordered and was slightly small. Worked with th...,ordered and was slightly small. worked with th...

In [8]:
import string

In [9]:
#remove punctuation
total_10K['reviewText_processed']=total_10K['reviewText_processed'].str.translate(str.maketrans('', '', string.punctuation))
total_10K

,reviewText,reviewText_processed
0,Exactly what I needed.,exactly what i needed
1,"I agree with the other review, the opening is ...",i agree with the other review the opening is t...
2,Love these... I am going to order another pack...,love these i am going to order another pack to...
3,too tiny an opening,too tiny an opening
4,Okay,okay
...,...,...
19995,I absolutely love this dress!! It's sexy and ...,i absolutely love this dress its sexy and com...
19996,I'm 5'6 175lbs. I'm on the tall side. I wear a...,im 56 175lbs im on the tall side i wear a larg...
19997,Too big in the chest area!,too big in the chest area
19998,"Too clear in the back, needs lining",too clear in the back needs lining
19999,Ordered and was slightly small. Worked with th...,ordered and was slightly small worked with the...

In [10]:
total_10K['reviewText_processed']=total_10K['reviewText_processed'].astype(str)

# Compute IDF of all words in these reviews. Report the top 30 words and bottom 30 words, based on IDF, with their IDF scores

In [11]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(total_10K['reviewText_processed'])
idf = vectorizer.idf_
idf

array([10.21039037,  9.80492526,  8.70631297, ..., 10.21039037,
        9.51724319,  9.51724319])

In [12]:
terms_idf = dict(zip(vectorizer.get_feature_names_out(), idf))
sorted_words_by_idf = sorted(terms_idf.items(), key=lambda x: x[1])
column_names = ['word', 'IDF_score']
sorted_words_by_idf=pd.DataFrame(sorted_words_by_idf,columns=column_names)
sorted_words_by_idf=sorted_words_by_idf.reset_index(drop=True)

top_30_words = sorted_words_by_idf[-30:][::-1]  # Top 30 words
bottom_30_words = sorted_words_by_idf[:30]
top_30_words

                word  IDF_score
15378         zoomed   10.21039
15377        zircons   10.21039
15376       zipunzip   10.21039
15375        zipping   10.21039
15374       zipperit   10.21039
15373        ziplock   10.21039
15372         ziploc   10.21039
15371           zion   10.21039
15370           zinc   10.21039
15369        zillion   10.21039
15368          zilch   10.21039
15367         zigzag   10.21039
15366            zig   10.21039
15365       zhiliang   10.21039
15364          zflip   10.21039
15363      zebrawood   10.21039
15362           zara   10.21039
15361         zappos   10.21039
15360         zanzea   10.21039
15359           zags   10.21039
15358            yro   10.21039
15357         youxxx   10.21039
15356       youthkid   10.21039
15355       yousighs   10.21039
15354           yous   10.21039
15353  yourselfquite   10.21039
15352        youeven   10.21039
15351         youbut   10.21039
15350         youand   10.21039
15349           york   10.21039

In [13]:
bottom_30_words

     word  IDF_score
0     the   1.723347
1     and   1.746387
2      it   2.039215
3      to   2.139328
4     for   2.201360
5      is   2.277131
6      my   2.352523
7     but   2.373033
8    this   2.446307
9      in   2.536237
10     of   2.577989
11    was   2.608239
12    fit   2.652134
13   very   2.697773
14  great   2.705999
15    not   2.736186
16     on   2.760311
17   they   2.848062
18    are   2.862125
19   with   2.894174
20     so   2.895505
21   that   2.927629
22   size   2.941470
23     as   2.948814
24  these   2.965806
25   have   2.999572
26   like   3.030320
27   love   3.083098
28   good   3.119064
29    too   3.124071